.navbar {
    width: 100vw;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 5px;
}
@media screen and (max-width: 650px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}