.navbar {
    width: 100vw;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    position: relative;
    bottom: 20
}
@media screen and (max-width: 650px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}