.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.payment-stack {
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 255, 0.1);
}

.content {
    padding: 10px;
    width: 500px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 255, 0.1);
}

.register {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.button-group {
    width: 90%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .register {
        width: 90%;
        padding: 10px;
    }

    .choose-plan {
        width: 90%;
        padding: 10px;
    }

    .button-group {
        width: 90%;
    }

}


