html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.section {
    border-bottom: 100px;
    border-color: blueviolet;
    border-radius: 20px;
}

.loader {
    margin-top: 5px;
}

.menuList {
    margin-left: 1px;
    margin-bottom: 5px;
}

.footer {
    position:relative;
    bottom: 0px;
    width: 100vw;
    background-color:#F7F7F7;
    justify-content: center;
}

.plan-header {
    background-image: linear-gradient(rgb(6, 36, 184), rgb(201, 12, 12));
}

.display {
    margin-left: 5px;
    margin-bottom: 5px;
}

.singleGameCard {
    height: fit-content;
    width: 450px;
    padding-bottom: 5px;
}

.gameCard {
    width: 264px;
    height: 500px;
}

